<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Muebles</title>
</head>
<body>
    <header>
        <h1>Tienda Muebles Tienda</h1>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/About-Us/about-us.html">Nosotros</a></li>
                <li><a href="/views/Store/store.html">Tienda</a></li>
                <li><a href="/views/Blog/blog.html">Blog</a></li>
                <li><a href="/views/Gallery/gallery.html">Galeria</a></li>
                <li><a href="/views/Contact/contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Nuestros Productos</h2>
        <section>
            <article>
                <img src="/assets/producto1.jpg" alt="producto-1">
                <div>
                    <h3>Producto 1</h3>
                    <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                    <p>$1,000,000.00</p>
                    <button>AGREGAR AL CARRITO</button>
                </div>
            </article>
            <article>
                <img src="/assets/producto2.jpg" alt="producto-2">
                <h3>Producto 2</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                <p>$1,000,000.00</p>
                <button>AGREGAR AL CARRITO</button>
            </article>
            <article>
                <img src="/assets/producto3.jpg" alt="producto-3">
                <h3>Producto 3</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                <p>$1,000,000.00</p>
                <button>AGREGAR AL CARRITO</button>
            </article>
            <article>
                <img src="/assets/producto4.jpg" alt="producto-4">
                <h3>Producto 4</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                <p>$1,000,000.00</p>
                <button>AGREGAR AL CARRITO</button>
            </article>
            <article>
                <img src="/assets/producto5.jpg" alt="producto-5">
                <h3>Producto 5</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                <p>$1,000,000.00</p>
                <button>AGREGAR AL CARRITO</button>
            </article>
            <article>
                <img src="/assets/producto6.jpg" alt="producto-6">
                <h3>Producto 6</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                <p>$1,000,000.00</p>
                <button>AGREGAR AL CARRITO</button>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <h2>Categorías</h2>
            <ul>
                <li><a href="#">Cocina</a></li>
                <li><a href="#">Oficina</a></li>
                <li><a href="#">Jardín</a></li>
                <li><a href="#">Cochera</a></li>
                <li><a href="#">Dormitorio</a></li>
            </ul>
        </section>
        
        <section>
            <h2>Sobre Nosotros</h2>
            <ul>
                <li><a href="#">Nuestra Historia</a></li>
                <li><a href="#">Misión, Vision y Valores</a></li>
                <li><a href="#">Carreras</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Términos de Servicio</a></li>
            </ul>
        </section>
        
        <section>
            <h2>Soporte</h2>
            <ul>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Ayuda en Línea</a></li>
                <li><a href="#">Confianza y Seguridad</a></li>
            </ul>
        </section>
        
        <section><p>Todos los derechos Reservados, TiendaMuebles</p></section>
    </footer>
</body>
</html>